.section-columns {
    background-color: #efefef;
}

.section-columns .container {
    padding: 2em;
}

.section-columns .section-header {
    text-align: center;
}

.section-columns .section-content {
    display: flex;
    gap: 2em;
}

.section-columns .section-content article {
    flex: 1 1 30%;
    text-align: center;
}

.section-columns h3 span {
    display: block;
    width: 5ch;
    height: 2px;
    background-color:#D01919;
    margin: 1em auto;
}

.section-features {
    background-color: #fff;
}

.section-features img {
    width: 15%;
    margin: 0 auto;
}

.section-features h4 {
    color: #D01919;
}

.section-coaches h5 {
    color: #D01919;
}

