body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: brown;
    height: 200px;
    width: 100%;
    justify-content: space-between;
}

div:nth-child(1) {
    width: 100%;
    background-color: aqua;
}

div:nth-child(2) {
    width: 30%;
    background-color: blue;
}

div:nth-child(3) {
    width: 30%;
    background-color: brown;
}