:root {
    --page-background-grey-light: #efefef;
    --icons-background-grey-dark: #909090;
    --text-grey-black: #222222;
}

/* Global Styles */

body {
    font-family: 'Raleway', sans-serif;
    color: var(--text-grey-black);
}

.page-section {
    max-width: 1326px;
    margin: 1.5rem auto;
    background-color: var(--page-background-grey-light);
    height: calc(100vh - 1.5rem);
    padding: 3rem 5rem;
    overflow: hidden;
}

.section-flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-flexed .section-info {
    flex: 0 0 45%;
}

.section-flexed .section-img {
    flex: 0 1 45%;
}

.page-section .title {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.page-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.page-section .divider.vertical {
    height: 6rem;
    width: 1px;
    background-color: var(--text-grey-black);
}

/* Hero */

#hero .page-section {
    position: relative;
}

#hero .navigation {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.nav-menu-span {
    padding-right: 0.5rem;
}

#hero .hero-img {
    position: absolute;
    width: 40%;
    bottom: 0px;
    right: 5rem;
}

/* Camera */

#camera .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#camera .socials .social {
    width: 3rem;
    height: 3rem;
    background-color: var(--icons-background-grey-dark);
    color: #fff;
    position: relative;
}

#camera .socials .social i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Selfie */

.selfie-section {
    max-width: 1326px;
    margin: 1.5rem auto;
    background-color: var(--page-background-grey-light);
    height: calc(100vh - 1.5rem);
    overflow: hidden;
}

/* Bridge */

#hero .bridge-img {
    width: 50%;
}

/* Gallery */

#gallery {
    display: flex;
    align-items: center;
}

#gallery .list {
    display: flex;
    gap: 1rem;
}

/* #gallery .list .picture {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
} */

#gallery .list .picture:hover {
    transform: scale(1.5);
    /* z-index: 1; */
}

/* #gallery .list .picture:nth-child(2) {
    transform: scale(1.5);
    z-index: 1;
} */

/* Register */

#register .section-info {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-email {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.forms-email input {
    padding: 0 0.5em;
    width: 20%;
}

.form-subject {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.form-subject input {
    width: 43%;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 10px;
}

.btn-send {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btn-send button {
    background-color: black;
    color: #fff;
    width: 43%;
}

.footer .footer-desc {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#register .footer {
    align-items: flex-end;
    padding-top: 3em;
}





